{% extends 'security/base.html.twig' %}

{% block body %}
    <div class="container">
    <div class ="row" style="margin-top:150px;">
    <div class="offset-lg-3 col-lg-6 offset-lg-3 offset-xl-3  col-xl-6 offset-xl-3 col-md-6">
<form method="post" action="{{ path('liste_des_pays_delete', {'id': liste_des_pay.id}) }}" onsubmit="return confirm(
'êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ liste_des_pay.id) }}">
    <button class="btn">Supprimer</button>
</form>
</div>
    </div>
    </div>
{% endblock %}
